@import "custom.scss";

@import "components/breadcrumbs.scss";
@import "components/modal.scss";
@import "components/script-editor.scss";
@import "components/tabs.scss";
@import "components/wizard.scss";
@import "components/collapse.scss";

@import "pages/dashboard.scss";
@import "pages/catalog.scss";
@import "pages/collection.scss";
@import "pages/collection.view.scss";
@import "pages/rules.scss";
@import "pages/library.scss";
@import "pages/manage.dashboard.scss";
@import "pages/newcotalog.scss";