$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$alert-container-background-color: #3b4859;
$alert-container-border-color: #202226;
$manage-rules-search-text-color: #ffffff;
$filter-container-label-text-color: #ffffff;