$breadcrumbs-background-color: #eff2f7;
$page-title-color: #3b4859;
$breadcrumbs-link-color: #89898a;
$breadcrumbs-link-current-page-color: #2a9ce7;
$alert-container-background-color: #ffffff;
$alert-container-border-color: #f5f6f5;
$manage-rules-search-text-color: #3b4859;
$filter-container-label-text-color: #3b4859;