.perfmanager-dashboard-container {
    .catalog-app-text {
        h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 22px;
            color: $catalog-text-color;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: $catalog-text-color;
            margin-bottom: 0;
        }
    }

    .category-select {
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;

        .form-control {
            background-color: #f0f3f7 !important;
            border: none !important;
            font-size: 12px;
            cursor: pointer;
            width: 300px;
            border-radius: 4px;
            height: 34px;
            line-height: 34px;
        }
    }

    .category-control-group {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 300px;

        .input-group-text {
            max-width: 100%;
            text-align: left;
            padding-left: 30px;
            width: 100%;
            border: 1px solid #8392a7;
            background-color: #ffffff;
        }

        button {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            cursor: pointer;
            border: none;
            background-color: transparent;
            width: 34px;
            height: 34px;
        }
    }

    .categories-boxes {
        height: 410px;
        overflow-y: auto;
        padding: 5px 0 5px 5px;

        .category-box {
            width: 32.33%;
            margin-right: 1%;
            margin-bottom: 5px;
            background-color: #ffffff;
            box-shadow: 0rem 0rem 0.35rem rgba(0, 0, 0, 0.2);
            min-height: 130px;
            display: inline-block;
            padding: 15px 10px;

            .category-image {
                width: 100%;
                height: auto;

                img {
                    max-width: 100%;
                    max-height: 70px;
                }
            }

            .category-name {
                font-size: 13px;
                font-weight: 500;
                line-height: 16px;
                color: #3b4859;
                padding-bottom: 0px;
                min-height: 30px;
            }

            .category-add-link {
                a {
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #2a9ce7;
                    display: block;
                }
            }
        }
    }

    .catalog-form-group {
        padding: 0 60px 0 30px;
    }

    .salect-services-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $catalog-text-color;
        margin-top: 150px;
        text-align: center;
    }

    .right-config-box {
        overflow-y: auto;
        height: 410px;
        padding-left: 0;
        padding-right: 5px;
        color: $catalog-text-color;

        .config-heading {
            padding-bottom: 20px;

            h5 {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: $catalog-text-color;
                margin-bottom: 0;
                display: inline-block;
            }

            a {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #2a9ce7;
            }
        }

        .publishing-text {
            padding-bottom: 20px;

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                color: $catalog-text-color;
                margin-bottom: 0;
            }
        }
    }

    .catalog-collapse {
        .config-collapse {
            position: relative;

            &:nth-child(odd) {
                .collapse-toggle {
                    background-color: $catalog-collapse-background-color;
                }
            }

            .collapse-toggle {
                display: block;
                padding: 10px;
                cursor: pointer;

                span {
                    display: inline-block;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    vertical-align: top;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                p {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px;
                    padding: 1px 0;
                    color: $catalog-text-color;
                    margin-bottom: 0;
                    vertical-align: top;
                    width: 80%;
                }
            }

            .collapse-card-body {
                padding: 30px 15px 10px;
                background: #FFFFFF;
                box-shadow: 0px 3px 3px #00000029;
                border: 1px solid #EFF2F7;
                width: 100%;
                z-index: 10;

                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    color: #3b4859;
                    margin-bottom: 0;
                }
            }
        }
    }

}

.catalog-form-group {
    .general-heading {
        display: block;
        padding-bottom: 5px;

        input {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            cursor: pointer;
        }

        span {
            display: inline-block;
            padding-left: 15px;
            padding-top: 3px;
            vertical-align: top;
            cursor: pointer;
        }

        h4 {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            color: #3b4859;
            margin-bottom: 0;
            padding-left: 15px;
            padding-top: 2px;
        }
    }

    .general-logs {
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 5px;

        input {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            cursor: pointer;
        }

        span {
            display: inline-block;
            padding-left: 15px;
            padding-top: 3px;
            vertical-align: top;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #3b4859;
        }

        h4 {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            color: #3b4859;
            margin-bottom: 0;
            padding-left: 15px;
            padding-top: 2px;
        }

        .data-table {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            font-weight: 500;
            color: #3b4859;
            background-color: #ffffff;
            width: 100%;

            tr {
                td {
                    padding: 3px 0px;

                    input {
                        margin-top: 6px;
                    }
                }
            }

            .general-heading {
                padding-bottom: 0;
            }

            .general-logs {
                padding-bottom: 0;
            }
        }

        .aws-bg {
            background-color: #3d71aa;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }

        .amazon-bg {
            background-color: #8a2eb8;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }

        .cloudwatch-bg {
            background-color: #bf1b00;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }

        .logs-bg {
            background-color: #4c7a3f;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }

        .monitorigartist-bg {
            background-color: #3b4859;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }
}


@media (max-width: 1200px) {
    .perfmanager-dashboard-container {
        .right-config-box {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            height: auto;
        }
    }
}

@media (max-width: 980px) {
    .perfmanager-dashboard-container {
        .category-select {
            padding-right: 0;
            padding-bottom: 15px;
            width: 100%;

            .form-control {
                width: 100%;
            }
        }

        .category-control-group {
            width: 100%;
        }

        .categories-boxes {
            .category-box {
                width: 49%;
            }
        }
    }
}

@media (max-width: 767px) {
    .perfmanager-dashboard-container {
        .categories-boxes {
            .category-box {
                .category-image {
                    margin-bottom: 15px;
                }
            }
        }

        .salect-services-text {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}