.collection-logos{
    ul{
        li{
            display: inline-block;
            vertical-align: top;
            padding-right: 30px;
            padding-bottom: 15px;
            a{
                display: block;
                width: 180px;
                height: 50px;
                background-color: #F0F3F7;
                box-shadow: 0px 1px 5px #00000029;
                border-radius: 5px;
                text-align: left;
                padding-right: 10px;
                span{
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 10px;
                    padding-top: 0;
                    padding-left: 10px;
                    width: 65px;
                    line-height: 48px;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                p{
                    color: #3B4859;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 50px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}

.collection-dashboard-radio-btns{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    ul{
        li{
            position: relative;
            display: inline-block;
            padding-right: 30px;
            vertical-align: top;
            input[type=radio]{
                margin-top: 3px;
                cursor: pointer;
                vertical-align: top;
            }
            label{
                padding-left: 7px;
                vertical-align: top;
                color: $collection-dashboard-text-color;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
            }
        }
    }
}

.collection-dashboard-search{
    margin-bottom: 10px;
}

.collection-dashboard-fliter-sort{
    padding-bottom: 20px;
    .sort-checkbox{
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        padding-top: 10px;
        span{
            padding-left: 10px;
            color: $collection-dashboard-text-color;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            display: inline-block;
            vertical-align: top;
        }
    }
    .sort-view{
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        ul{
            li{
                display: inline-block;
                a{
                    display: block;
                    height: 40px;
                    width: 58px;
                    text-align: center;
                    background-color: #F5F6F5;
                    line-height: 40px;
                }
                &.active{
                    a{
                        background-color: #E9ECF0;
                    }
                }
                &:first-child{
                    a{
                        border-radius: 5px 0px 0px 5px;
                    }
                }
                &:last-child{
                    a{
                        border-radius: 0px 5px 5px 0px;
                    }
                }
            }
        }
    }
    .sort-select-menu{
        background-color: #F0F3F7;
        border-radius: 8px;
        height: 40px;
        display: inline-block;
        width: 265px;
        span{
            display: inline-block;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 10px;
            vertical-align: top;
        }
        select{
            display: inline-block;
            background-color: transparent;
            border: none;
            vertical-align: top;
            margin-top: 5px;
            width: 210px;
            cursor: pointer;
            color: #464c54;
        }
    }
}

.collection-dashboard-general{
    border: 1px solid #8392a7;
    padding: 15px;
    background-color: #ffffff;
    .general-heading{
        input{
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
        }
        span{
            display: inline-block;
            padding-left: 10px;
            vertical-align: top;
        }
        h4{
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            color: #3b4859;
            margin-bottom: 0;
            padding-left: 10px;
            padding-top: 2px;
        }
        .fa{
            padding-top: 6px;
        }
    }
    .general-logs{
        padding-left: 30px;
        padding-top: 20px;
        .data-table{
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            font-weight: 500;
            color: #3b4859; 
            background-color: #ffffff;
            width: 100%;
            tr{
                td{
                    padding: 10px 10px;
                    input{
                        margin-top: 0px;
                        margin-right: 15px;
                    }
                }
                &:nth-child(odd){
                    background-color: #f8f9fb;
                }
            }
        }
        .aws-bg{
            background-color: #3d71aa;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .amazon-bg{
            background-color: #8a2eb8;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .cloudwatch-bg{
            background-color: #bf1b00;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .logs-bg{
            background-color: #4c7a3f;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .monitorigartist-bg{
            background-color: #3b4859;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
    }
}

@media (max-width: 980px) {
    .filter-starred{
        &.float-right{
            float: left;
            padding-top: 15px;
        }
    }
    .collection-dashboard-search{
        .search-control-group{
            width: 100%;
            margin-bottom: 15px;
        }
        .search-buttons{
            &.float-right{
                float: left;
            }
        }
    }
    .collection-dashboard-general{
        display: grid;
        .general-logs{
            overflow-x: auto;
            .data-table{
                width: 800px;
            }
        }
    }
}

@media (max-width: 767px) {
    .filter-starred{
        &.float-right{
            width: 100%;
        }
    }
    .manage-dashboard-fliter-sort{
        .sort-select-menu{
            width: 75%;
            margin-top: 15px;
            select{
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .filter-starred{
        &.float-right{
            float: left;
            padding-top: 15px;
        }
    }
    .collection-logos{
        ul{
            li{
                padding-right: 15px;
                a{
                    width: 100%;
                }
            }
        }
    }
}