.collection-search{
    .collection-heading{
        font-size: 18px;
        line-height: 36px;
        font-weight: 600;
        color: $library-text-color;
    }
    .category-select{
        .form-control{
            height: 36px;
        }
    }
    .search-control-group{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 300px;
        .input-group-text{
            max-width: 100%;
            text-align: left;
            padding-left: 35px;
            width: 100%;
            border: 1px solid #8392a7;
            background-color: #ffffff;
            font-size: 13px;
            color: #8998AC;
            font-weight: 400;
            height: 36px;
        }
        button{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            cursor: pointer;
            border: none;
            background-color: transparent;
            width: 36px;
            height: 36px;
        }
    } 
}

/*********************************** Library Table *********************************/
.collection-details {
  display: grid;
  .container-inner {
    overflow-x: scroll;
    .collection-data-table {
      width: 1078px;
      background-color: #ffffff;
      font-size: 13px;
      line-height: 24px;
      .d-flex{
        text-align: right;
        display: block;
      }
      .thead{
        display: block;
        width: 100%;
        .thead-th{
          display: inline-block;
          padding: 10px 10px;
          color: #3b4859;
          font-weight: 600;
          vertical-align: top;
          &:nth-child(1){
            width: 30%;
          }
          &:nth-child(2){
            width: 10%;
          }
          &:nth-child(3){
            width: 8%;
          }
          &:nth-child(4){
            width: 18%;
          }
          &:nth-child(5){
            width: 18%;
          }
          &:nth-child(6){
            width: 16%;
          }
        }
      }
      .tbody{
        display: block;
        width: 100%;
        &:nth-child(even){
          .tbody-inner{
            background-color: #f8f9fb;
          }
        }
        .tbody-inner{
          display: block;
          width: 100%;
        }
        .tbody-td{
          display: inline-block;
          padding: 10px 10px;
          color: #3b4859;
          font-weight: 500;
          vertical-align: top;
          &:nth-child(1){
            width: 30%;
          }
          &:nth-child(2){
            width: 10%;
          }
          &:nth-child(3){
            width: 8%;
          }
          &:nth-child(4){
            width: 18%;
          }
          &:nth-child(5){
            width: 18%;
          }
          &:nth-child(6){
            width: 16%;
          }
          &.first{
            padding-left: 35px;
          }
        }
        .collapse{
          .tbody{
            &:nth-child(even){
              background-color: #f8f9fb;
            }
          }
        }
      }
      .caret-right{
        display: inline-block;
        vertical-align: top;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 12px;
        border-color: transparent transparent transparent #8392A7;
        margin-top: 3px;
        margin-right: 10px;
        cursor: pointer;
      }
      .caret-down{
        display: inline-block;
        vertical-align: top;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: #8392a7 transparent transparent transparent;
        margin-top: 7px;
        margin-right: 10px;
        cursor: pointer;
      }
      .status-icon{
          display: inline-block;
          width: 16px;
          height: 16px;
          background-color: #b8e986;
          border-radius: 50%;
          position: relative;
          vertical-align: top;
          &:before{
              content: "";
              width: 9px;
              height: 5px;
              position: absolute;
              top: 4px;
              left: 3px;
              border: 1px solid #fff;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 1;
              transform: rotate(-45deg);
              z-index: 10;
          }
      }
      .enabled{
        width: 8px;
        height: 8px;
        background-color: #004fac;
        display: inline-block;
        position: relative;
        margin: 10px 10px 0 0;
        vertical-align: top;
        &::after{
          position: absolute;
          left: -4px;
          top: -4px;
          width: 16px;
          height: 16px;
          content: "";
          border: 1px solid #004fac;
          border-radius: 50%;
        }
      }
      .btn-link {
        color: #3b7cff !important;
        padding: 0 7px;
        font-size: 18px;
        line-height: 24px;
        vertical-align: top;
        display: inline-block;
        height: 24px;
        &:first-child {
          padding-top: 2px;
        }
        &:last-child {
          padding-top: 3px;
        }
        &:nth-child(2) {
          padding-top: 2px;
        }
      }
    }
  }
}


@media (max-width: 980px) {
  .collection-search{
    .float-right{
      float: left;
      width: 100%;
    }
    .category-select{
      width: 49%;
      margin-right: 1%;
    }
    .search-control-group{
      width: 49%;
      margin-left: 1%;
    }
  }
}

@media (max-width: 767px) {
  .collection-search{
    .category-select{
      width: 100%;
      margin-right: 0%;
    }
    .search-control-group{
      width: 100%;
      margin-left: 0%;
    }
  }
}