.manage-dashboard-heading{
    display: block;
    .heading-icon{
        display: inline-block;
        vertical-align: top;
        padding-right: 20px;
    }
    .heading-right{
        display: inline-block;
        vertical-align: top;
        h3{
            display: block;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 22px;
            color: $manage-dashboard-text-color;
            margin-bottom: 10px;
        }
        p{
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: $manage-dashboard-text-color; 
            margin-bottom: 0;
        }
    }
}

.manage-dashboard-radio-btns{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    ul{
        li{
            position: relative;
            display: inline-block;
            padding-right: 30px;
            vertical-align: top;
            input[type=radio]{
                margin-top: 3px;
                cursor: pointer;
                vertical-align: top;
            }
            label{
                padding-left: 7px;
                vertical-align: top;
                color: $manage-dashboard-text-color;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
            }
        }
    }
}

.manage-dashboard-tabs{
    padding-bottom: 30px;
    ul{
        li{
            border-right: 1px solid #ffffff;
            list-style: none;
            display: inline-block;
            a{
                display: block;
                background-color: #FAFBFD;
                color: #2662F0;
                font-size: 14px;
                line-height: 40px;
                font-weight: 500;
                padding: 0 20px;
                &:hover{
                    background-color: #ffffff;
                    box-shadow: 0px 1px 8px #142E6E1A;
                }
            }
            &.active-tab{
                a{
                    background-color: #ffffff;
                    box-shadow: 0px 1px 8px #142E6E1A;
                }
            }
            &:first-child{
                a{
                    border-radius: 8px 0px 0px 8px;
                }
            }
            &:last-child{
                a{
                    border-radius: 0px 8px 8px 0px;
                }
            }
        }
    }
}

.manage-dashboard-search{
    padding-bottom: 30px;
    .search-control-group{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 80%;
        .input-group-text{
            max-width: 100%;
            text-align: left;
            padding-left: 35px;
            width: 100%;
            border: 1px solid #8392a7;
            background-color: #ffffff;
            font-size: 13px;
            color: #8998AC;
            font-weight: 400;
            height: 36px;
        }
        button{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            cursor: pointer;
            border: none;
            background-color: transparent;
            width: 36px;
            height: 36px;
        }
    }
}

.manage-dashboard-fliter-sort{
    padding-bottom: 20px;
    .sort-checkbox{
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        padding-top: 10px;
        span{
            padding-left: 10px;
            color: $manage-dashboard-text-color;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            display: inline-block;
            vertical-align: top;
        }
    }
    .sort-view{
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        ul{
            li{
                display: inline-block;
                a{
                    display: block;
                    height: 40px;
                    width: 58px;
                    text-align: center;
                    background-color: #F5F6F5;
                    line-height: 40px;
                }
                &.active{
                    a{
                        background-color: #E9ECF0;
                    }
                }
                &:first-child{
                    a{
                        border-radius: 5px 0px 0px 5px;
                    }
                }
                &:last-child{
                    a{
                        border-radius: 0px 5px 5px 0px;
                    }
                }
            }
        }
    }
    .sort-select-menu{
        background-color: #F0F3F7;
        border-radius: 8px;
        height: 40px;
        display: inline-block;
        width: 265px;
        span{
            display: inline-block;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 10px;
            vertical-align: top;
        }
        select{
            display: inline-block;
            background-color: transparent;
            border: none;
            vertical-align: top;
            margin-top: 5px;
            width: 210px;
            cursor: pointer;
        }
    }
}

.manage-dashboard-general{
    border: 1px solid #8392a7;
    padding: 15px;
    .general-heading{
        input{
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
        }
        span{
            display: inline-block;
            padding-left: 10px;
            vertical-align: top;
        }
        h4{
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            color: $manage-dashboard-text-color;
            margin-bottom: 0;
            padding-left: 10px;
            padding-top: 2px;
        }
        .fa{
            padding-top: 6px;
        }
    }
    .general-logs{
        padding-left: 30px;
        padding-top: 20px;
        .data-table{
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            font-weight: 500;
            color: $manage-dashboard-text-color; 
            background-color: #ffffff;
            width: 100%;
            tr{
                td{
                    padding: 10px 10px;
                    input{
                        margin-top: 3px;
                    }
                }
                &:nth-child(odd){
                    background-color: #f8f9fb;
                }
            }
        }
        .aws-bg{
            background-color: #3d71aa;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .amazon-bg{
            background-color: #8a2eb8;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .cloudwatch-bg{
            background-color: #bf1b00;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .logs-bg{
            background-color: #4c7a3f;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
        .monitorigartist-bg{
            background-color: #3b4859;
            color: #ffffff;
            padding: 2px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 0 2px;
        }
    }
}

@media (max-width: 980px) {
    .filter-starred{
        &.float-right{
            float: left;
            padding-top: 15px;
        }
    }
    .manage-dashboard-search{
        .search-control-group{
            width: 100%;
            margin-bottom: 15px;
        }
        .search-buttons{
            &.float-right{
                float: left;
            }
        }
    }
    .manage-dashboard-general{
        display: grid;
        .general-logs{
            overflow-x: auto;
            .data-table{
                width: 800px;
            }
        }
    }
}

@media (max-width: 767px) {
    .filter-starred{
        &.float-right{
            width: 100%;
        }
    }
    .manage-dashboard-fliter-sort{
        .sort-select-menu{
            width: 75%;
            margin-top: 15px;
            select{
                width: 80%;
            }
        }
    }
}