.import-dashboard-container {
    padding-left: 30px;
    padding-right: 30px;
}

.select-catalog-lists {
    height: 410px;
    overflow-y: auto;
    padding: 5px 5px;

    .catalog-list-box {
        width: 24%;
        margin-right: 1%;
        margin-bottom: 5px;
        background-color: #ffffff;
        box-shadow: 0rem 0rem 0.35rem rgba(0, 0, 0, 0.2);
        min-height: 130px;
        display: inline-block;
        padding: 15px 10px;
        cursor: pointer;

        .catalog-list-image {
            width: 100%;
            height: auto;

            img {
                max-width: 100%;
                max-height: 82px;
            }
        }

        .catalog-list-name {
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            color: #3b4859;
            padding-bottom: 15px;
            min-height: 40px;
        }

        .catalog-list-add-link {
            a {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                color: #2a9ce7;
                display: block;
            }
        }
    }
}

.select-dashboard {
    padding: 5px 0px 5px 0px;

    .d-none {
        display: none;
    }

    .select-dashboard-heading {
        .heading-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        h3 {
            color: #3B4859;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 20px;
            margin-top: 5px;
        }

        p {
            color: #8998AC;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
    }

    .select-dashboard-lists {
        padding-top: 50px;

        .lists {
            height: 410px;
            overflow-y: auto;

            .collapse-card-body {
                padding: 10px 15px;
                background-color: #ffffff;

                &:nth-child(odd) {
                    background-color: #F8F9FB;
                }

                input {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 15px;
                    margin-top: 5px;
                }

                span {
                    display: inline-block;
                    vertical-align: top;
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                    margin-bottom: 0;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    color: #3B4859;
                    margin-bottom: 0;
                    width: 80%;
                }
            }
        }
    }

    .list-right-content {
        .heading {
            background-color: #F8F9FB;
            padding: 10px 15px;

            span {
                display: inline-block;
                vertical-align: top;
                width: 24px;
                height: 24px;
                margin-right: 15px;
                margin-bottom: 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                color: #3B4859;
                margin-bottom: 0;
                width: 80%;
            }
        }

        .content {
            padding: 30px 15px;
            background: #FFFFFF;
            box-shadow: 0px 3px 3px #00000029;
            border: 1px solid #EFF2F7;

            h3 {
                display: block;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: #8998AC;
                margin-bottom: 0;
            }

            ul {
                display: block;
                list-style: none;
                margin-bottom: 20px;

                li {
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    color: #8998AC;
                }
            }
        }
    }

    .bulk-lists {
        height: 400px;
        overflow-y: auto;
        padding: 0;

        .collapse-card-body {
            padding: 10px 15px;
            background-color: #ffffff;

            &:nth-child(odd) {
                background-color: #F8F9FB;
            }

            span {
                display: inline-block;
                vertical-align: top;
                width: 24px;
                height: 24px;
                margin-right: 15px;
                margin-bottom: 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                color: #3B4859;
                margin-bottom: 0;
                width: 80%;
                cursor: pointer;
            }

            .btn-link {
                color: #3b7cff !important;
                padding: 0 5px;
                font-size: 18px;
                line-height: 22px;
                vertical-align: middle;
            }
        }
    }

    .dashboard-frame {
        height: 430px;
        overflow-y: auto;
        padding: 15px 20px;
        margin-top: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: -3px -3px 6px #00000029;
        border: 0.25px solid #707070;
        opacity: 1;

        iframe {
            border: none;
        }
    }

    .config-form {
        padding-top: 40px;

        .form-group {
            margin-bottom: 20px;

            label {
                display: inline-block;
                vertical-align: top;
                width: 12%;
            }

            input {
                display: inline-block;
                vertical-align: top;
                width: 50%;
            }

            p {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                border-bottom: 1px solid #ced4da;
                color: #3B7CFF;
                font-size: 14px;
                line-height: 22px;
                padding: 0.375rem 0.75rem;
                margin-bottom: 0;
                height: calc(1.5em + 0.75rem + 2px);
            }

            .select-import-dashboard {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 50%;

                span {
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    color: #495057;
                    line-height: 22px;

                    i {
                        line-height: 22px;
                    }
                }

                .import-dashboard-general {
                    display: block;
                    background: #FFFFFF;
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    padding: 15px;

                    .general-heading {
                        display: block;
                        padding-bottom: 5px;

                        span {
                            display: inline-block;
                            padding-left: 15px;
                            vertical-align: top;
                            cursor: pointer;
                            width: auto;
                        }

                        h4 {
                            display: inline-block;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 22px;
                            color: #3b4859;
                            margin-bottom: 0;
                            padding-left: 15px;
                            padding-top: 2px;
                        }

                        .fa {
                            padding-top: 6px;
                            cursor: pointer;
                            display: inline-block;
                        }
                    }

                    .general-logs {
                        padding-left: 35px;
                        padding-top: 5px;
                        padding-bottom: 10px;

                        .data-table {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            font-weight: 500;
                            color: #3b4859;
                            background-color: #ffffff;
                            width: 100%;

                            tr {
                                td {
                                    padding: 0 0 5px 0;

                                    span {
                                        display: inline-block;
                                        padding-left: 0px;
                                        vertical-align: top;
                                        cursor: pointer;
                                        width: auto;
                                    }

                                    h4 {
                                        display: inline-block;
                                        font-size: 15px;
                                        font-weight: 500;
                                        line-height: 22px;
                                        color: #3b4859;
                                        margin-bottom: 0;
                                        padding-left: 15px;
                                        padding-top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .edit-dashboard {
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;

        .data-source-heading {
            background-color: #F8F9FB;
            color: #3B4859;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            padding: 10px 15px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .order {
            order: 3;
            display: flex;
        }

        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            color: #3B4859;
        }

        .data-source-box {
            background: #FFFFFF;
            box-shadow: 0px 0px 6px #00000029;
            padding: 15px;
            width: 180px;
            margin-right: 15px;
            margin-bottom: 15px;

            .image {
                width: 110px;
            }

            .name {
                color: #3B4859;
                font-size: 16px;
                line-height: 22px;
                font-weight: 300;
                padding-top: 10px;
            }
        }
    }


}

@media only screen and (max-width: 1023px) {
    .wizard-step-line-container {
        .wizard-step-button {
            width: 100%;
            border-left: 1px solid #707070b5;
            border-right: 1px solid #707070b5;
            border-bottom: none;

            &:last-child {
                border-bottom: 1px solid #707070b5;
            }

            &:before,
            &:after {
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .import-dashboard-container {
        padding-left: 0;
        padding-right: 0;
    }

    .select-catalog-lists {
        .catalog-list-box {
            width: 32.3333%;
        }
    }

    .select-dashboard {
        .config-form {
            .form-group {
                label {
                    width: 22%;
                }
            }
        }

        .edit-dashboard {
            margin-left: 0;
            margin-right: 0;

            .order {
                order: 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .import-dashboard-container {
        padding-left: 0;
        padding-right: 0;
    }

    .select-catalog-lists {
        .catalog-list-box {
            width: 49%;

            .catalog-list-name {
                margin-bottom: 0;
                margin-top: 15px;
            }
        }
    }

    .select-dashboard {
        .select-dashboard-heading {
            .heading-text {
                padding-top: 15px;
            }
        }

        .list-right-content {
            margin-top: 30px;
        }

        .select-dashboard-lists {
            .lists {
                .collapse-card-body {
                    p {
                        width: 75%;
                    }
                }
            }
        }

        .config-form {
            .form-group {
                label {
                    width: 30%;
                }

                input {
                    width: 70%;
                }

                select {
                    width: 70%;
                }
            }
        }

        .edit-dashboard {
            margin-left: 0;
            margin-right: 0;

            .order {
                order: 0;
            }
        }
    }
}
