.alert-modal-container {
  max-width: 1200px !important;

  .modal-content {
    padding: 15px;
    background-color: white !important;
    color: black;
  }

  .modal-header {
    background: white;
    box-shadow: none;
    border-bottom: 1px dashed #a2c0d4;
    height: 35px;

    .modal-title {
      color: #3b4859;
      float: left;
      margin: 0px;
      font-size: 20px;
    }

    button {
      float: right;
      font-size: 33px;
      top: -15px;
      position: relative;
      color: red;
      opacity: 1;
    }
  }
}