.perfmanager-modal-container {
  max-width: 992px !important;
  box-shadow: 0px 0px 16px #3B48593D;
  border-radius: 10px;
  background: white;
  .modal-content {
    padding: 20px 20px;
    .modal-header {
      background: white;
      box-shadow: none;
      border-bottom: 1px dashed #a2c0d4;
      margin-bottom: 30px;
      padding: 0 10px 10px;
      .modal-title {
        color: #3b4859;
        float: left;
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        line-height: 28px;
      }
      button {
        float: right;
        font-size: 28px;
        top: 0;
        position: relative;
        color: #ffffff;
        opacity: 1;
        width: 28px;
        height: 28px;
        background-color: red;
        border-radius: 50%;
        border: none;
        line-height: 28px;
        text-align: center;
      }
    }
    .modal-body{
      padding: 0px;
      img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
      }
      .form-group{
        padding-bottom: 20px;
        label{
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3B4859;
          padding-right: 20px;
          vertical-align: top;
          width: 30%;
        }
        .input-group-text{
          background-color: #FFFFFF;
          border: 1px solid #8392A7;
          border-radius: 4px;
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3B4859;
          padding: 0 10px;
          width: 100%;
          text-align: left;
          vertical-align: top;
          height: auto;
          &.file{
            line-height: inherit;
            height: 34px;
            padding-top: 5px;
          }
        }
        .form-control{
          background-color: #f0f3f7 !important;
          border: none !important;
          font-size: 13px;
          height: 36px;
          cursor: pointer;
          width: 250px;
          display: inline-block;
        }
        .select-checkbox{
          display: block;
          padding-top: 10px;
          padding-bottom: 0px;
          .checkbox{
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
          }
          span{
            display: inline-block;
            padding-right: 5px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
          }
          p{
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            color: #3B4859;
            vertical-align: top;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  
}